<%= form_with(model: weapon) do |form| %>
  <% if weapon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weapon.errors.count, "error") %> prohibited this weapon from being saved:</h2>

      <ul>
        <% weapon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :dmg_type %>
    <%= form.text_field :dmg_type %>
  </div>

  <div class="field">
    <%= form.label :dmg_dice %>
    <%= form.text_field :dmg_dice %>
  </div>

  <div class="field">
    <%= form.label :power_level %>
    <%= form.text_field :power_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
