<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag('application') %>

<h1>Weapons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Damage type</th>
      <th>Damage dice</th>
      <th>Power level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
        <td><%= weapon.name %></td>
        <td><%= weapon.description %></td>
        <td><%= weapon.dmg_type %></td>
        <td><%= weapon.dmg_dice %></td>
        <td><%= weapon.power_level %></td>
        <td><%= link_to 'Show', weapon, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_weapon_path(weapon), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weapon', new_weapon_path %>
