<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weapon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @weapon.description %>
</p>

<p>
  <strong>Damage Type:</strong>
  <%= @weapon.dmg_type %>
</p>

<p>
  <strong>Damage Dice:</strong>
  <%= @weapon.dmg_dice %>
</p>

<p>
  <strong>Power Level:</strong>
  <%= @weapon.power_level %>
</p>

<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
